{% load custom_filters %} 
{% load static %} 
{% include 'layout/modals.html' %}
<div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title fw-bold">Menu Utama</h5>
      </div>
      <div class="d-flex align-items-center px-3 py-2">
        {% if request.user.is_authenticated %}
        <img
          src="{{ request.user.picture.url }}"
          alt="Profile Picture"
          class="rounded-circle me-2"
          style="width: 32px; height: 32px; object-fit: cover"/>
        <a
          href="{% url 'profile' %}"
          class="text-decoration-none text-dark fw-semibold">
          {{ request.user.username }}
        </a>
        {% else %}
        <span class="material-icons me-2" style="font-size: 20px"
          >account_circle</span>
        <a
          href="{% url 'login' %}"
          class="text-decoration-none text-dark fw-semibold">
          Masuk
        </a>
        {% endif %}
      </div>

      <div class="offcanvas-body">
        <ul class="list-unstyled">
          <li>
            <a href="{% url 'home' %}" class="d-block py-1">
              {% if request.user.is_authenticated %}
              <i class="fa-solid fa-gauge"></i></i> Dashboard {% else %}
              <i class="fa-solid fa-house"></i> Home {% endif %}
            </a>
          </li>
          <li>
            {% if request.user.is_authenticated %}
            <a href="{% url 'projek' %}" class="d-block py-1">
              <i class="fa-solid fa-briefcase"></i> Projek
            </a>
            {% else %}
            <a
              href="#"
              class="d-block py-1 text-muted text-secondary disabled"
              onclick="return handleMenuClick(this, 'true')">
              <i class="fa-solid fa-lock"></i> Projek
            </a>
            {% endif %}
          </li>

          <!-- Accordion Starts Here -->
          <div class="accordion accordion-flush" id="accordionSidebar">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingExtra">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseExtra"
                  aria-expanded="false"
                  aria-controls="collapseExtra">
                  Data Entry
                </button>
              </h2>
              <div
                id="collapseExtra"
                class="accordion-collapse collapse"
                aria-labelledby="headingExtra"
                data-bs-parent="#accordionSidebar">
                <!-- Remove this if you want toggle freedom -->
                <div class="accordion-body p-0">
                  <ul class="list-unstyled ps-3 pt-2">
                    {% comment %} Menu Items inside accordion {% endcomment %}
                    <li>
                      {% if request.user.is_authenticated %}
                      <a
                        href="{% url 'objectives_view' %}"
                        class="d-block py-1">
                        <i class="fa-solid fa-chevron-right"></i> Meaningful
                        Objectives
                      </a>
                      {% else %}
                      <a
                        href="#"
                        class="d-block py-1 text-muted text-secondary disabled"
                        onclick="return handleMenuClick(this, 'true')">
                        <i class="fa-solid fa-lock"></i> Meaningful Objectives
                      </a>
                      {% endif %}
                    </li>
                    <li>
                      {% if request.user.is_authenticated %}
                      <a
                        href="{% url 'experience_view' %}"
                        class="d-block py-1">
                        <i class="fa-solid fa-chevron-right"></i> Intelligence
                        Experience
                      </a>
                      {% else %}
                      <a
                        href="#"
                        class="d-block py-1 text-muted text-secondary disabled"
                        onclick="return handleMenuClick(this, 'true')">
                        <i class="fa-solid fa-lock"></i> Intelligence Experience
                      </a>
                      {% endif %}
                    </li>
                    <li>
                      {% if request.user.is_authenticated %}
                      <a
                        href="{% url 'implementation_view' %}"
                        class="d-block py-1">
                        <i class="fa-solid fa-chevron-right"></i> Intelligence
                        Implementation
                      </a>
                      {% else %}
                      <a
                        href="#"
                        class="d-block py-1 text-muted text-secondary disabled"
                        onclick="return handleMenuClick(this, 'true')">
                        <i class="fa-solid fa-lock"></i> Intelligence
                        Implementation
                      </a>
                      {% endif %}
                    </li>
                    <li>
                      {% if request.user.is_authenticated %}
                      <a
                        href="{% url 'limitation_view' %}"
                        class="d-block py-1">
                        <i class="fa-solid fa-chevron-right"></i> Batasan
                        Pengembangan
                      </a>
                      {% else %}
                      <a
                        href="#"
                        class="d-block py-1 text-muted text-secondary disabled"
                        onclick="return handleMenuClick(this, 'true')">
                        <i class="fa-solid fa-lock"></i> Batasan Pengembangan
                      </a>
                      {% endif %}
                    </li>
                    <li>
                      {% if request.user.is_authenticated %}
                      <a
                        href="{% url 'realization_view' %}"
                        class="d-block py-1">
                        <i class="fa-solid fa-chevron-right"></i> Status
                        Realisasi
                      </a>
                      {% else %}
                      <a
                        href="#"
                        class="d-block py-1 text-muted text-secondary disabled"
                        onclick="return handleMenuClick(this, 'true')">
                        <i class="fa-solid fa-lock"></i> Status Realisasi
                      </a>
                      {% endif %}
                    </li>
                    <li>
                      {% if request.user.is_authenticated %}
                      <a href="{% url 'planning_view' %}" class="d-block py-1">
                        <i class="fa-solid fa-chevron-right"></i> Perencanaan
                      </a>
                      {% else %}
                      <a
                        href="#"
                        class="d-block py-1 text-muted text-secondary disabled"
                        onclick="return handleMenuClick(this, 'true')">
                        <i class="fa-solid fa-lock"></i> Perencanaan
                      </a>
                      {% endif %}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- End Accordion -->

          <li>
            {% if request.user.is_authenticated %}
            <a href="{% url 'settings' %}" class="d-block py-1">
             <i class="fa-solid fa-gears"></i> Pengaturan
            </a>
            {% else %}
            <a
              href="#"
              class="d-block py-1 text-muted text-secondary disabled"
              onclick="return handleMenuClick(this, 'true')">
              <i class="fa-solid fa-lock"></i> Pengaturan
            </a>
            {% endif %}
          </li>
        </ul>
      </div>

      {% if request.user.is_authenticated %}
      <a
        href="{% url 'logout' %}"
        class="btn btn-danger position-absolute bottom-0 end-0 m-3">
        <i class="fa-solid fa-door-open"></i> Logout
      </a>
      {% endif %}
    </div>
